html, body {
    font-family: 'Arial';
    background: #FFF;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    margin: 8px;
    font-size: 3vh;
}

input {
  display: flex;
  border: none;
  background: #FFF;
  height: 6vh;
  min-width: 90%;
  border-radius: 3px;
  color: #000;
  max-width: 300px;
  margin: 8px;
  font-size: 3vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 8px;
}

textarea:focus, input:focus{
  outline: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button {
    width: 30vw;
    height: 5vh;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 2.5vh;
    margin: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button#logIn, #logOut {
    background: #2196F3;
}

button#logIn, #logOut:hover {
    background: #1976D2;
}

button#signUp {
    background: #673AB7;
}

button#signUp:hover {
    background: #512DA8;
}

button#logOut {
  font-size: 2vh;
  height: 5vh;
  width: 20vh;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#app {
  width: 100vw;
  overflow-y: hidden;
  /*max-width: 600px;*/
  margin: 0;
}

#panel {
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 100vh;
}

#messages {
  display: flex;
  flex-direction: column;
  height: 95%;
  overflow-y: scroll;
}

#bottom {
  display: flex;
  flex-direction: row;
  height: 5%;
  padding: 8px;
}

#send {
  width: 64px;
  height: 64px;
  margin-left: 16px;
  margin-top: 8px;
}

#message {
  width: 80%;
  height: 65%;
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 2vh;
}

#title {
  margin-left: 16px;
}

#top-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 7vh;
  background: #00BCD4;
  color: white;
  font-size: 2vh;
}

input:focus, textarea:focus {
    outline: none;
}

#line {
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: #00BCD4;
  margin-top: 8px;
}

.textMessage {
  display: flex;
  flex-direction: column;
  min-height: 75px;
}

.text {
  display: flex;
  align-items: center;
  text-align: center;
  background: #00BCD4;
  border-radius: 3px;
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: #FFF;
  font-size: 2vh;
  min-height: 5vh;
}

.name {
  margin-top: 32px;
  padding: 8px;
  font-size: 2vh;
}

.profile {
  width: 36px;
  height: 36px;
}

.lower {
  display: flex;
  flex-direction: row;
  height: 60px;
}
