/* OVERALL RULES */
:root {
  --app-primary-color: #2196F3;
  --app-accent-color: #009688;
  --app-secondary-color: #673AB7;
}

html, body {
  font-family: 'Arial';
  background: #FFF;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  margin: 8px;
  font-size: 3vh;
}

input {
  display: flex;
  border: none;
  background: #FFF;
  height: 6vh;
  min-width: 90%;
  border-radius: 3px;
  color: #000;
  max-width: 300px;
  margin: 8px;
  font-size: 3vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 8px;
}

textarea:focus, input:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  outline: none;
}

button {
  width: 30vw;
  height: 5vh;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 2.5vh;
  margin: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button#logIn, #logOut {
  background: var(--app-primary-color);
}

button#logIn, #logOut:hover {
  background: var(--app-accent-color);
}

button#signUp {
  background: var(--app-secondary-color);
}

button#signUp:hover {
  background: var(--app-secondary-color);
}

button#logOut {
  font-size: 2vh;
  height: 5vh;
  width: 20vh;
}

/* ID RULES  --- SORTED LINEAR */

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#app {
  width: 100vw;
  overflow-y: hidden;
  margin: 0;
}

#panel {
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 100vh;
}

.line {
  width: 100vw;
  height: 4px;
  border-radius: 3px;
  background: var(--app-primary-color);
  margin-top: 8px;
}

#messages {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
}

#bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

#message {
  width: 80vw;
  height: 5vh;
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 2vh;
}

#send {
  width: 64px;
  height: 64px;
  margin-left: 16px;
}

/* CLASS RULES */

.textMessage {
  display: flex;
  flex-direction: column;
  min-height: 6vh;
  padding: 8px;
  margin: 8px;
}

.text {
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--app-primary-color);
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  color: #FFF;
  font-size: 2vh;
  min-height: 5vh;
  overflow-y: visible;
  max-width: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.name {
  position: relative;
  font-size: 2vh;
}

.lower {
  display: flex;
}

.lower-line {
  margin: 0;
}
